    {% block navigator %}
        {% if page > 1 %}
            {% if search %}
                {% if order %}
                    <a href='/atk/{{ site }}/{{ category }}/{{ search }}/{{ order }}/page/{{ page|add:"-1" }}'>prev</a>
                {% else %}
                    <a href='/atk/{{ site }}/{{ category }}/{{ search }}/page/{{ page|add:"-1" }}'>prev</a>
                {% endif %}
            {% else %}
                {% if order %}
                  <a href='/atk/{{ site }}/{{ order }}/page/{{ page|add:"-1" }}'>prev</a>
                {% elif detail.current_year %}
                  <a href='/atk/{{ site }}/year/{{ detail.current_year }}/page/{{ page|add:"-1" }}'>prev</a> 
                {% else %}
                  <a href='/atk/{{ site }}/page/{{ page|add:"-1" }}'>prev</a>
                {% endif %}
            {% endif %}
        {% endif %}
        <a href='/'>dash</a>
        <a href='/atk/'>allsites</a>
        {% if search %}
        {% else %}
            <a href='/atk/{{ site }}/'>home</a>
        {% endif %}
        {% if search %}
        <a href='/atk/random/{{ category }}/{{ search }}'>randomize</a>
        {% endif %}
        {% if babes|length >= per_page %}
            {% if search %}
                {% if order %}
                    <a href='/atk/{{ site }}/{{ category }}/{{ search }}/{{ order }}/page/{{ page|add:"+1" }}'>next</a>
                {% else %}
                    <a href='/atk/{{ site }}/{{ category }}/{{ search }}/page/{{ page|add:"+1" }}'>next</a>
                {% endif %}
            {% else %}
                {% if order %}
                  <a href='/atk/{{ site }}/{{ order }}/page/{{ page|add:"+1" }}'>next</a>
                {% elif detail.current_year %}
                  <a href='/atk/{{ site }}/year/{{ detail.current_year }}/page/{{ page|add:"+1" }}'>next</a> 
                {% else %}
                  <a href='/atk/{{ site }}/page/{{ page|add:"+1" }}'>next</a>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if detail.current_year %}
          </br>
          {%if detail.prev_year %}
            <a href='/atk/{{ site }}/year/{{ detail.prev_year }}/'>{{ detail.prev_year }}</a>
          {% endif %}
          [{{ detail.current_year }}]
          {%if detail.next_year %}
            <a href='/atk/{{ site }}/year/{{ detail.next_year }}/'>{{ detail.next_year }}</a>
          {% endif %}
        {% endif %}
    {% endblock %}

