                <table><tr><td>
                <form method="post" action="https://vipergirls.to/search.php?contenttype=1&do=process" class="inline" enctype="text/html" target='_blank'>
                    <input type="hidden" name="securitytoken" value="guest">
                    <input type="hidden" name="do" value="process">
                    <input type="hidden" name="query" value="{{ modeldetail.vipergirls_name }}">
                    <input type="hidden" name="titleonly" value="1">
                    <input type="hidden" name="imgsearch" value="1">
                    <input type="hidden" name="sumbit.x" value="8">
                    <input type="hidden" name="submit.y" value="13">
                    <input type="hidden" name="childforums" value="1">
                    <input type="hidden" name="forumchoice[]" value="235">
                    <button type="submit" class="link-button">
                    Vipergirls
                    </button>
                </form>
                </td><td>
                <form method="post" action="https://www.forumophilia.com/search.php?mode=results" class="inline" enctype="text/html" target='_blank'>
                    <input type="hidden" name="search_keywords" value="{{ modeldetail.original_name }}">
                    <input type="hidden" name="search_terms" value="all">
                    <input type="hidden" name="search_author" value="">
                    <input type="hidden" name="search_forum" value="56">
                    <input type="hidden" name="search_time" value="0">
                    <input type="hidden" name="search_fields" value="all">
                    <input type="hidden" name="search_cat" value="-1">
                    <input type="hidden" name="sort_by" value="0">
                    <input type="hidden" name="sort_dir" value="DESC">
                    <input type="hidden" name="show_results" value="posts">
                    <input type="hidden" name="return_chars" value="1000">
					<button type="submit" class="link-button">
                    Forumophilia
                    </button>
                </form>
                </td><td>
                <form method="get" action="https://www.wikifeetx.com/{{ modeldetail.wikifeet_name }}" class="inline" enctype="text/html" target='_blank'>
                    <button type="submit" class="link-button">
                    WikiFeet
                    </button>
                </form>
                </td><td>
                <form method="get" action="https://www.pornpics.com/" class="inline" enctype="text/html" target='_blank'>
                    <input type="hidden" name="q" value="{{ modeldetail.vipergirls_name }}">
                    <button type="submit" class="link-button">
                    PornPics
                    </button>
                </form>
                </td><td>
                <form method="get" action="https://www.nudevista.com/" class="inline" enctype="text/html" target='_blank'>
                    <input type="hidden" name="q" value="{{ modeldetail.vipergirls_name }}">
                    <input type="hidden" name="s" value="s">
                    <button type="submit" class="link-button">
                    NudeVista
                    </button>
                </form>
                </td><td>
                <form method="get" action="https://www.indexxx.com/m/{{ modeldetail.external_name }}" class="inline" enctype="text/html" target='_blank'>
                    <button type="submit" class="link-button">
                    Indexxx
                    </button>
                </form>
                </td></tr></table>

