{% extends 'atk/template_base.html' %}
{% load static %}

{% comment %}
TODO: integrate into template_base
{% endcomment %}
{% block likesvote %}
    <a href='#' id='suss' rel='{{ site }}/{{ babe.id }}/0'>SÜSS</a> <->
    <a href='#' id='pfuj' rel='{{ site }}/0/{{ babe.id }}'>PFUJ TEUFEL</a><br>
    <br>
    <script type='text/javascript'>
        var link=document.getElementById('suss');
        link.setAttribute("href","/atk/vote/" + link.getAttribute("rel") + "/");
        var link=document.getElementById('pfuj');
        link.setAttribute("href","/atk/vote/" + link.getAttribute("rel") + "/");
    </script>
{% endblock %}

