{% load static %}
<!DOCTYPE html>
<html>
{% block head %}
  <head>
    <meta charset="utf-8">
    {% block viewblockscale %}
        <meta name="viewport" content="width=800, initial-scale=0.59">
    {% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type='text/css'>
    <style>
      .title {
        font-family: 'Indie Flower', serif;
        font-size: 30px;
        color: #1E90FF;
      }
      h1 {
        font-family: 'Pacifico', serif;
        font-size: 40px;
        color: #1E90FF;
      }
      .inline {
        display: inline;
      }

      .link-button-post {
        background: none;
        border: none;
        cursor: pointer;
        color: #337ACE;
      }
      .link-button-post:focus {
        outline: none;
      }
      .link-button-post:active {
        color:red;
      }
    </style>
    <title>Atk Django</title>
  </head>
{% endblock %}

<body>

{% block header %}
        <center><table border=0><tr>
           <td width=15%>
            {% block search %}
                <form action="/atk/search/" method="get">
                    <input id="name" type="text" name="name" value="">
                    <input type="submit" value="Search">
                </form>
            {% endblock %}
            </td>
            <td width=60%>
{% block nav %}
    <center>
    {% block navigator %}
        {% if page > 1 %}
            {% if search %}
                <a href='/atk/{{ site }}/{{ category }}/{{ search }}/page/{{ page|add:"-1" }}'>prev</a>
            {% else %}
                <a href='/atk/{{ site }}/page/{{ page|add:"-1" }}'>prev</a>
            {% endif %}
        {% endif %}
        <a href='/'>dash</a>
        <a href='/atk/'>allsites</a>
        {% if search %}
        {% else %}
            <a href='/atk/{{ site }}/'>home</a>
        {% endif %}
        {% if babes|length >= per_page %}
            {% if search %}
                <a href='/atk/{{ site }}/{{ category }}/{{ search }}/page/{{ page|add:"+1" }}'>next</a>
            {% else %}
                <a href='/atk/{{ site }}/page/{{ page|add:"+1" }}'>next</a>
            {% endif %}
        {% endif %}
    {% endblock %}

    <br>
    {% block navnumbers %}
        babes: {{ babes|length }}
        {% if related %}
            (+{{ related|length }})
        {% endif %}
        {% if numResults %}
            (of {{ numResults }})
        {% endif %}
    {% endblock %}
    <br>
    battles: <a title="Vote in DUEL" href='/atk/duel/'>duel</a>
             <a title="Vote in DUEL" href='/atk/duelduel/'>duelduel</a>
             <a title="Top100 in DUEL" href='/atk/duel/top/'>duel-top</a>
             <a title="Top models in DUEL" href='/atk/dueltopmodel/top/'>duel-model</a>
             <a title="Girls without votes" href='/atk/novotes/'>no-votes</a>

    month:  <a title="Vote for girl of the month" href='/atk/month/'>month</a>
            <a title="Scores for current month" href='/atk/month/top/'>scores</a>
            <a title="All girls of currennt month" href='/atk/monthlist/top/'>list</a>
            <a title="Top girls for last 6 months" href='/atk/monthrank/top/'>month-rank</a>
            <a title="Monthpic" href='/atk/monthpic/top/'>month-pic</a> 
            <a title="Monthmodel" href='/atk/monthmodel/top/'>month-model</a> 
    <br>
    likes:   <a title="Likes (total votes for pic)" href='/atk/likes/top/'>likes-pic</a>
             <a title="Most liked models" href='/atk/liked/top/'>liked-models</a>
             <a title="Best AVG score" href='/atk/bestscore/top/'>bestscore</a>

    random:
        <a href='/atk/random/'>( allsites )</a>
        <a href='/atk/randomrandom/'>(randomrandom)</a>
        <a href='/atk/randomnovotes/'>(no-votes)</a>


    restricted: <a href="/atk/alles/">all</a>
                <a href="/atk/hidden/">hid</a>
                <a href="/atk/banned/">ban</a>
                <a href="/atk/novote/">novote</a>
                <a title="Allpic" href='/atk/allpic/top/'>all-pic</a>
                <a title="Allmodel" href='/atk/allmodel/top/'>all-model</a> <br>

   <details>
    <summary>links</summary>
        <p>
            <a href="https://www.forumophilia.com/tags.php?tags=atk" target='_blank'>forumophilia</a>
            <a href="https://www.forumophilia.com/tags.php?tags=allover30" target='_blank'>AllOver30</a>
            <a href="/atk/search/tags/toering/">toering</a>
            
            <a href="https://vipergirls.to/forumdisplay.php?f=302&prefixid=AMKingdom_com" target='_blank'>AMKingdom</a>
            <a href="https://vipergirls.to/forumdisplay.php?f=302&prefixid=ATKExotics_com" target='_blank'>ATKExotics</a>
            <a href="https://vipergirls.to/forumdisplay.php?f=302&prefixid=ATKHairy_com" target='_blank'>ATKHairy</a>
            <a href="https://vipergirls.to/forumdisplay.php?f=302&prefixid=WeAreHairy_com" target='_blank'>WeAreHairy</a>
            <a href="https://vipergirls.to/forumdisplay.php?f=302&prefixid=AllOver30_com">AllOver30</a>
            <a href="https://vipergirls.to/forumdisplay.php?f=302&prefixid=AbbyWinters_com">AbbyWinters</a>
            <a href="https://vipergirls.to/forumdisplay.php?f=307&prefixid=FootFetishDaily_com">FootFetishDaily</a>
            <a href="https://vipergirls.to/forumdisplay.php?f=304&prefixid=LoveHerFeet_com">LoveHerFeet</a>
            <a href="https://vipergirls.to/forumdisplay.php?f=304&prefixid=SexArt_com">SexArt</a>
                <form method="post" action="https://vipergirls.to/search.php?contenttype=1&do=process" class="inline" enctype="text/html" target='_blank'>
                    <input type="hidden" name="securitytoken" value="guest">
                    <input type="hidden" name="do" value="process">
                    <input type="hidden" name="query" value="elegant ladies">
                    <input type="hidden" name="titleonly" value="1">
                    <input type="hidden" name="imgsearch" value="1">
                    <input type="hidden" name="sumbit.x" value="8">
                    <input type="hidden" name="submit.y" value="13">
                    <input type="hidden" name="childforums" value="1">
                    <input type="hidden" name="forumchoice[]" value="235">
                    <button type="submit" class="link-button-post">
                    Elegant Ladies
                    </button>
                </form>
           </p>
      </details>
    </br>
    </center>
    <br>
{% endblock %}

            </td>
            <td width=15%>
              <table>
                <tr><td><a href='/atk/allsites/'>allsites</a></td></tr>
                <tr><td><a href='/atk/blog/'>blog</a></td></tr>
                <tr><td><a href='/atk/exotics/'>exotics</a></td></tr>
                <tr><td><a href='/atk/hairy/'>hairy</a></td></tr>
                <tr><td><a href='/atk/galleria/'>galleria</a></td></tr>
                <tr><td><a href='/atk/lastvote/'>lastvote</a></td></tr>
                <tr><td><a href='/atk/stats'>stats</a></td></tr>
              </table>
            </td>
        </tr>
        </table></center>
{% endblock %}

{% block content %}
{% if babes %}
    {% block modeldetail %}
        {% if modeldetail %}
            <table><tr><td>
            <a href='/atk/num/{{ modeldetail.topphoto.id }}'><img width=190 src=
                {% if modeldetail.topphoto.site == "blog" %}
                    {% comment %}
                    '/storage/pics/blog/{{ modeldetail.topphoto.tn }}'></a>
                    {% endcomment %}
                    {% load plus_to_slash %}
                    'http://www.atkmodels.com/blog/galleries/{{ modeldetail.topphoto.tn.name|plus_to_slash }}'></a>
                {% else %}
                    {% comment %}
                    '/storage/pics/{{ modeldetail.topphoto.site }}/{{ modeldetail.topphoto.date }}_7.jpg'></a>
                    {% endcomment %}
                    'http://www.atkmodels.com/{{ modeldetail.topphoto.site }}/img/content/{{ modeldetail.topphoto.date }}_7.jpg'></a>
                {% endif %}
            </td><td width=400>
            Model: {{ modeldetail.blogdetails.name }}<br>
            Total Likes: {{ modeldetail.likes__sum }}<br>
            Avg Likes: {{ modeldetail.avg_likes}} <br>
            Duel Likes: {{ modeldetail.duel__sum }}<br>
            Month Likes: {{ modeldetail.month_likes }}<br>
            Galleries: {{ babes|length }}<br>
            <br>
            <br>
            Age: {{ modeldetail.blogdetails.age }} <br>
            Place of birth: {{ modeldetail.blogdetails.pob }} <br>
            Occupation: {{ modeldetail.blogdetails.occ }} <br>
            Tags:
            {% for tag in modeldetail.blogdetails.tags %}
                <a href='{{ tag.0 }}/'>{{ tag.1 }}</a>
            {% endfor %}
            </td>
            <td>
                {% include "atk/search-bar.html" %}
                <br>
                {% if modeldetail.external_sites %}
                    External Sites:<br>
                    {% for link in modeldetail.external_sites %}
                        <a href='http://{{link.0}}/pornstar/{{ modeldetail.external_name }}/' target=_blank>{{ link.0 }}</a>({{ link.1 }})<br>
                    {% endfor %}
                {% endif %}
            </td>
            </tr></table>
            <br><br>
        {% endif %}
    {% endblock %}
    <center>
    <table style="margin: 0px auto; margin-left: 0px; margin-right: 0px; table-layout:fixed;"><tr>
    {% for babe in babes %}
        <td style="word-wrap:break-word; width:400px; vertical-align:top">
            {% block model %}
            Model: <a href="/atk/model/{{ babe.name }}/" >{{ babe.name }}</a><br>
            Gallery: {% if babe.site == "blog" %}
                        <a href='{{ babe.gallery }}' target='_blank'>{{ babe.site }}</a><br>
                     {% else %}
                        <a href='http://www.atkmodels.com/{{ babe.site }}/index.php?day={{ babe.date }}' target='_blank'>{{ babe.site }}</a><br>
                     {% endif %}
            Date: 20{{ babe.date }} <br>
            {% endblock %}
            {% block likesblock %}
                Likes: {{ babe.likes }}<br>
                Duellikes: {{ babe.duellikes }}<br>
                Monthlikes: {{ babe.monthlikes }}<br>
                {% if babe.alllikes %}
                All Likes: {{ babe.alllikes }}<br>
                {% endif %}
            {% endblock %}
            {% block likesvote %}
            {% endblock %}
            {% if detail == 1 and babe.site == 'blog' %}
                Age: {{ babe.age }} <br>
                Place of birth: {{ babe.pob }} <br>
                Occupation: {{ babe.occ }} <br>
                Tags:
                {% for tag in babe.tags %}
                    <a href='{{ tag.0 }}/'>{{ tag.1 }}</a>
                {% endfor %}
                <br><br>
            {% endif %}
            {% block pic %}
                    {% block topvotes %}
                    {% endblock %}
                    {% block piclink %}
                        {% if detail == 1 %}
                            {% if babe.site == "blog" %}
                                <a href='{{ babe.gallery }}' target='_blank'>
                            {% else %}
                                <a href='http://www.atkmodels.com/{{ babe.site }}/index.php?day={{ babe.date }}' target='_blank'>
                            {% endif %}
                        {% else %}
                            <a href='/atk/num/{{ babe.id }}/'>
                        {% endif %}
                    {% endblock %}
                    {% if babe.site == "blog" %}
                        {% comment %}
                        #TODO: switch local fotos to external urls, use below one of those two versions:
                        <img src='/storage/pics/{{ babe.site }}/{{ babe.tn }}'></a><br>
                        or
                        <img src='http://www.atkmodels.com/blog/galleries/{{ babe.tn }}'></a><br>
                        {% endcomment %}
                        {% load plus_to_slash %}
                        <img src='http://www.atkmodels.com/blog/galleries/{{ babe.tn.name|plus_to_slash }}'></a><br>
                    {% else %}
                        {% comment %}
                        # some pincures have wrong numbers 1->7 and 7->1 and therefore wrong sizes: check Raven Rockette
                        <img src='http://www.atkmodels.com/{{ babe.site }}/img/content/{{ babe.date }}_7.jpg'></a><br>
                        or
                        <img src='/storage/pics/{{ babe.site }}/{{ babe.date }}_7.jpg'></a><br>
                        {% endcomment %}
                        <img width='385' src='http://www.atkmodels.com/{{ babe.site }}/img/content/{{ babe.date }}_7.jpg'></a><br>
                    {% endif %}
            {% endblock %}
            {% block related %}
                {% if related %}
                    </td></tr><tr><td><table width=100%><tr>
                    {% for babe in related %}
                        {% if babe.site == "blog" %}
                            {% comment %}
                            <td align=center><a href='/atk/num/{{ babe.id }}'><img width=120 src='/storage/pics/{{ babe.site }}/{{ babe.tn }}'></a></td>
                            {% endcomment %}
                            {% load plus_to_slash %}
                            <td align=center><a href='/atk/num/{{ babe.id }}'><img width=120 src='http://www.atkmodels.com/blog/galleries/{{ babe.tn.name|plus_to_slash }}'></a></td>
                        {% else %}
                            {% comment %}
                            <td align=center><a href='/atk/num/{{ babe.id }}'><img width=120 src='/storage/pics/{{ babe.site }}/{{ babe.date }}_7.jpg'></a></td>
                            {% endcomment %}
                            <td align=center><a href='/atk/num/{{ babe.id }}'><img width=120 src='http://www.atkmodels.com/{{ babe.site }}/img/content/{{ babe.date }}_7.jpg'></a></td>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            </tr><tr>
                        {% endif %}
                    {% endfor %}
                    </tr></table>
                    </table>
                {% endif %}
            {% endblock %}
        </td>
        {% if forloop.counter|divisibleby:4 %}
            </tr><tr>
        {% endif %}
    {% endfor %}
    </tr></table></center>
{% else %}
    <center>
    </br></br></br>
    {% include "atk/search-bar.html" %}
    </center>
    </br></br>
    <center><h1>No babes available.</h1></center><br><br>
{% endif %}
{% endblock %}



{% block footer %}
    <br>
    <center>

    {% if page > 1 %}
        {% if search %}
            <a href='/atk/{{ site }}/{{ category }}/{{ search }}/page/{{ page|add:"-1" }}'>prev</a>
        {% else %}
            <a href='/atk/{{ site }}/page/{{ page|add:"-1" }}'>prev</a>
        {% endif %}
    {% endif %}
    <a href='/'>dash</a>
    <a href='/atk/'>allsites</a>
    <a href='/atk/{{ site }}/'>home</a>
    {% if babes|length >= per_page %}
        {% if search %}
            <a href='/atk/{{ site }}/{{ category }}/{{ search }}/page/{{ page|add:"+1" }}'>next</a>
        {% else %}
            <a href='/atk/{{ site }}/page/{{ page|add:"+1" }}'>next</a>
        {% endif %}
    {% endif %}

    </center>
    <br>
    <br>
    <br>
{% endblock %}


</body>
</html>

